<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.raizlabs.android.databasecomparison">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MainApplication"
        tools:replace="android:icon"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="DATABASE" android:value="sugar.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.raizlabs.android.databasecomparison.sugar" />

        <meta-data android:name="AA_DB_NAME" android:value="aa.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

    </application>

</manifest>
